.client-container {
    display: flex;
    flex-direction: column;

    button {
        width: 160px;
        margin-bottom: 10px;
    }

    .anticon {
        margin-right: 8px;
    }
}

.avatar-uploader > .ant-upload {
    width: 90px;
    height: 90px;

    img {
        width: 72px;
        height: 72px;
    }
}

.client-list-item-modal {
    width: 80% !important;
}
