.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.app-container {
    min-height: 100vh;
}

.app-header {
    background: #fff;
    padding: 0;
}

.app-content {
    background: #fff;
    margin: 16px 16px;
    min-height: 360px;
    padding: 24px;
}

.app-footer {
    text-align: center;
}
